page-home {

}

p {
	color: #ffffff;
}
.bottomLeft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 15px;
}

ion-row {
	vertical-align: middle;
}

.searchbar-md .searchbar-input {
	background-color: #D32F2F;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
	color: #ffffff;
	input-clear-icon-size: 0px;
	input-search-icon-color: #ffffff;
	placeholder-color: #ffffff; 
}

.searchbar-search-icon {
	color:#ffffff;
}